/* User Story #1
Your headers should be changed to your favorite color and set to a sans-serif font. (Notice they are not all the same tag!) */
.subjectHeader {
  color: #0ff;
  font-family: sans-serif;
}
/* User Story #2
Your table should have bold/colored table headers, as well as a table border. Content should be centered in their respective blocks. */
#scoreBoard th {
  font-weight: bold;
}

#scoreBoard {
  border: 1px solid black;
  text-align: center;
}
/* User Story #3
Your list should have square list bullets. */
li {
  list-style-type: square;
}
/* User Story #4
When the user hovers over a hyperlink the background color of the hyperlink should change and it should not be underlined. */
a.hyperLink:hover {
  text-decoration: none;
  background-color: gray;
}
/* User Story #5
Set the background color of the block quote text (second paragraph) to a dark color and the font color to a contrasting light color. */
blockquote {
  background-color: #06403b;
  color: #c9a193;
}
/* User Story #6
Make each team's image the background image for the list. Hint Check out the element > element and :first-child / :last-child selectors. Remove the image from above the team's list. */
#teamRoster [alt ="Broncos Logo"] {
  display: none;
}

#teamRoster [alt ="Bears Logo"] {
  display: none;
}
#teamRoster {
  display: inline-block;
  background-image: url("img/New_England_Patriots_logo");
  color: red;

}
/* User Story #7
The checkbox list should not be bulleted. */
#checkbox-grid li {
  list-style-type: none;
}
